
# IntelliJ project files
.idea
*.iml
imagenes/*
*.pyc
optresult.*
cubicator/build/*
cubicator/dist/*
Cbc-2.7.5-win64
cubicator/cubicator3000.spec
Cbc-2.4.0-linux-x86_64

# Sam

# environment
env

# Solvers
cbc
*.xlsx
