
# IntelliJ project files
.idea
*.iml
imagenes/*
*.pyc
optresult.*
app/cubicator/build/*
app/cubicator/dist/*
Cbc-2.7.5-win64
app/cubicator/cubicator3000.spec
Cbc-2.4.0-linux-x86_64
resultado
# Sam

# environment
env

# Solvers
cbc
*.xlsx
