* {
    box-sizing: border-box;
}


@font-face{
    font-family: trial;
    src: url('Proyecta.ttf');
    }

body {
    background-color: #70b9db;
}

.mainbox {
    background-color: rgba(255, 255, 255, 0.884);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.25);
}

h1 {
    color: #70b9db;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family:trial
}

.proyecta{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family:trial;
    font-size: 50px
}


.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.title_text{
   color: #000000; 
   font-family: 'Raleway',sans-serif; 
   font-size: 18px; 
   font-weight: 500; 
   line-height: 32px; 
   margin: 0 0 24px;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    
}

.downloables {
    display: block;
    text-align: center;
}

.excel_d {
    display: block;
    text-align: left;
    
    
}

#excel_d_button {
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;   
    background-color: white;
    color: black;
    border: 2px solid #22833f; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    font-family:trial
}
#excel_d_button:hover{
    background-color: #22833f; /* Green */
    color: white;
}

#pdf_d_button {
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;   
    background-color: white;
    color: black;
    border: 2px solid #a53223; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    font-family:trial
}
#pdf_d_button:hover{
    background-color: #a53223; /* Green */
    color: white;
}




.excel_form {
    display: block;
    text-align: center;
}

.column {
    float: left;
    width: 50.0%;
    padding: 15px;
    display: block;
    text-align: right;
}

#preview{
    display: block;
    text-align: left;
}




/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.closebtn:hover {
    color: black;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-weight: 500;
    background-color: white;
    color: black;
    border: 2px solid #70b9db; 
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-family:trial
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #70b9db; /* Green */
    color: white;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#cubicatebtn{
    font-weight: 500;
    background-color: white;
    color: black;
    border: 2px solid #70b9db; 
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;    font-weight: 700;
    cursor:pointer;
    display:none;
    font-family:trial
}
#cubicatebtn:hover{
    background-color: #70b9db; /* Green */
    color: white;
}